[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pandas-datareader = "*"
sqlalchemy = "*"
python-dotenv = "*"
numpy = "*"
scikit-learn = "*"
jupyter = "*"
jupytext = "*"
ipykernel = "*"
psycopg2-binary = "*"
cvxopt = "*"
scipy = "*"
matplotlib = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.7"
